@import 'fonts/iconfont.css';
html {
  font-size: 62.5%;
}
body {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Microsoft Yahei", "SimSun", Arial, "sans-serif background-color", "Open Sans", "Helvetica Neue";
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: ' ';
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.f12 {
  font-size: 12px;
  font-size: 1.2rem;
}
.f13 {
  font-size: 13px;
  font-size: 1.3rem;
}
.f14 {
  font-size: 14px;
  font-size: 1.4rem;
}
.f16 {
  font-size: 16px;
  font-size: 1.6rem;
}
.f17 {
  font-size: 17px;
  font-size: 1.7rem;
}
.f18 {
  font-size: 18px;
  font-size: 1.8rem;
}
.f20 {
  font-size: 20px;
  font-size: 2.0rem;
}
.f22 {
  font-size: 22px;
  font-size: 2.2rem;
}
.f24 {
  font-size: 24px;
  font-size: 2.4rem;
}
.f30 {
  font-size: 30px;
  font-size: 3.0rem;
}
.f35 {
  font-size: 35px;
  font-size: 3.5rem;
}
.f50 {
  font-size: 50px;
  font-size: 5.0rem;
}
.fb {
  font-weight: bold;
}
.fn {
  font-weight: normal;
}
.t2 {
  text-indent: 2rem;
}
.lh30 {
  line-height: 30px;
}
.lh50 {
  line-height: 50px;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.unl {
  text-decoration: underline;
}
.no_unl {
  text-decoration: none;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.bc {
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.clear {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
*html .clearfix {
  height: 1%;
}
.clearfix {
  display: inline-block;
}
.Clearfix {
  display: block;
}
.none {
  display: none;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.vbl {
  vertical-align: baseline;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.top1 {
  top: 1px;
}
.abs-right {
  position: absolute;
  right: 0;
}
.zoom {
  zoom: 1;
}
.os {
  overflow: auto;
}
.os-x {
  overflow-x: auto;
}
.os-y {
  overflow-y: auto;
}
.oh {
  overflow: hidden;
}
.fff {
  background-color: #fff;
}
.w10 {
  width: 10px;
}
.w20 {
  width: 20px;
}
.w30 {
  width: 30px;
}
.w40 {
  width: 40px;
}
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w600 {
  width: 600px;
}
.w700 {
  width: 700px;
}
.w800 {
  width: 800px;
}
.w {
  width: 100%;
}
.h50 {
  height: 50px;
}
.h80 {
  height: 80px;
}
.h100 {
  height: 100px;
}
.h200 {
  height: 200px;
}
.h {
  height: 100%;
}
.m0 {
  margin: 0;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m30 {
  margin: 30px;
}
.mt2- {
  margin-top: -2px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt50 {
  margin-top: 50px;
}
.mt100 {
  margin-top: 100px;
}
.mt180 {
  margin-top: 180px;
}
.mb0 {
  margin-bottom: 0;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}
.ml200 {
  margin-left: 200px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr50 {
  margin-right: 50px;
}
.mr100 {
  margin-right: 100px;
}
.p0 {
  padding: 0;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
.pt50 {
  padding-top: 50px;
}
.pt100 {
  padding-top: 100px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pl450 {
  padding-left: 450px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
.pointer {
  cursor: pointer;
}
p.error {
  color: #f00;
}
.hidden-v {
  visibility: hidden;
}
.transparent {
  background-color: transparent;
}
.b0 {
  border: 0;
}
.br0 {
  border-radius: 0;
}
.br2 {
  border-radius: 2px;
}
.br3 {
  border-radius: 3px;
}
.br4 {
  border-radius: 4px;
}
.br5 {
  border-radius: 5px;
}
.ws {
  white-space: nowrap;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row {
  margin: 0;
}
/*过渡效果*/
.transition {
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
/* 动画效果 旋转放大 修改rotate(旋转度数) scale(放大值)*/
.transform {
  transform: rotate(360deg) scale(1.2);
  -ms-transform: rotate(360deg) scale(1.2);
  -webkit-transform: rotate(360deg) scale(1.2);
  -o-transform: rotate(360deg) scale(1.2);
  -moz-transform: rotate(360deg) scale(1.2);
}
.tab-radius {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/**************************** UI基础设计规范 start ***************************/
.success {
  color: #65AF47;
}
.warning {
  color: #f0ad4e;
}
.danger {
  color: #F04134;
}
.error {
  color: #F04134;
}
.color-red {
  color: #D93127;
}
.color-grey {
  color: #C7C7C7;
}
.readonly {
  color: #999999;
}
.pointer-green {
  color: #00B39E;
}
.pointer-green:hover {
  color: #009886;
}
/**************************** UI基础设计规范 end ***************************/
body {
  color: #333333;
  background-color: #E6E9E9;
}
.content {
  height: 100%;
  background-color: #E6E9E9;
  padding: 20px;
}
a {
  color: #00B39E;
}
a:hover {
  color: #009886;
}
a:focus {
  color: #008676;
}
.currency-grid {
  position: relative;
}
.currency-grid table {
  margin-bottom: 0;
  color: #333333;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  border-collapse: inherit;
}
.currency-grid table thead tr {
  color: #333333;
  background-color: #F4F4F4;
}
.currency-grid table thead tr th {
  border-width: 1px;
  white-space: nowrap;
  padding: 0 12px;
  height: 48px;
  line-height: 48px;
  font-weight: 700;
  font-size: 14px;
  font-size: 1.4rem;
}
.currency-grid table thead tr th:not(:last-child) {
  text-align: center;
}
.currency-grid table tbody > tr:nth-of-type(even) {
  background-color: #FAFAFA;
}
.currency-grid table tbody tr {
  /*td:last-child > a, td:last-child span {
          color: transparent;
          .mr15;
        }*/
}
.currency-grid table tbody tr td {
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #333333;
}
.currency-grid table tbody tr td:not(:last-child) {
  text-align: center;
}
.currency-grid table tbody tr:hover {
  background-color: rgba(0, 179, 158, 0.1);
  /*  td:last-child > a, td:last-child > span, td:last-child > i,td:last-child >div> span ,td:last-child >div> a,td:last-child >div> i{
            color: @mainGreen;
            .clearfix;
            .pointer;
            &:hover {
              color: @btnPrimaryHover;
            }
          }*/
}
.currency-grid table tbody tr:hover td {
  border: 0;
}
.ledger .head {
  height: 34px;
  line-height: 34px;
  margin-bottom: 15px;
}
.ledger .head .head-l {
  float: left;
}
.ledger .head .head-l .head-select {
  display: inline-block;
}
.ledger .head .head-l .head-select .period {
  display: inline-block;
}
.ledger .head .head-r {
  float: right;
}
.header {
  text-align: center;
  overflow: hidden;
}
.header .header-title {
  font-weight: 700;
  font-size: 17px;
  font-size: 1.7rem;
  color: #333333;
}
.header .header-date {
  margin-left: 10px;
  vertical-align: bottom;
}
.btn {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 6px 20px;
  line-height: 18px;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  background-color: #00B39E;
  border-color: #00B39E;
  box-sizing: border-box;
}
.btn.btn-primary:hover {
  border-color: #009886;
  background-color: #009886;
}
.btn.btn-primary:focus {
  border-color: #008676;
  background-color: #008676;
}
.btn.btn-default {
  border-color: #D9D9D9;
  background-color: #fff;
  box-sizing: border-box;
}
.btn.btn-default:hover {
  color: #009886;
  border-color: #009886;
}
.btn.btn-default:focus {
  color: #008676;
  border-color: #008676;
  background-color: #E6E9E9;
}
.btn.btn-operate {
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  font-size: 12px;
  font-size: 1.2rem;
  color: #5E6670;
  padding: 4px 21px;
}
.btn.btn-operate:hover {
  color: #009886;
  border-color: #009886;
}
.btn.btn-operate:focus {
  color: #5E6670;
  border-color: #D1D1D1;
}
.btn-toolbar {
  margin-left: 0;
}
.btn,
input,
select {
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
input:focus,
select:focus,
.close:focus {
  outline: 0;
  outline-offset: 0;
}
select {
  border-color: #D9D9D9;
}
input:focus,
select:focus {
  border-color: #00B39E;
}
.form-control {
  font-size: 12px;
  font-size: 1.2rem;
  height: 32px;
  border-color: #D9D9D9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #00B39E;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*静态模态框，提示类模态框*/
.static-modal {
  z-index: 999999999;
}
.static-modal .modal-dialog {
  width: 418px;
}
.static-modal .modal-body {
  padding-top: 30px ;
  padding-left: 50px ;
}
.static-modal .modal-body .iconfont {
  font-size: 2.4rem;
  color: #FFBF00;
}
.static-modal .modal-footer {
  border-top: 0;
  padding: 30px;
}
.ssc-alert {
  position: fixed;
  top: 50px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  z-index: 10000;
}
.ssc-alert p.alert-tip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-backdrop {
  z-index: 10400;
}
.modal {
  z-index: 10500;
}
.modal-title {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  display: inline;
  color: #333333;
}
.modal-dialog {
  margin-top: 10%;
}
.modal-dialog .modal-body .container {
  margin-left: -15px;
  margin-right: -15px;
}
.currency-input {
  width: 180px;
  height: 30px;
  position: relative;
}
.currency-input input {
  height: 100%;
}
.currency-input .search-icon {
  background: url(../images/search.svg) no-repeat;
  background-size: 20px 20px;
  width: 17px;
  height: 17px;
  font-size: 17px;
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 9999;
  color: #999;
}
.bootstrap-typeahead input.bootstrap-typeahead-input-main {
  padding: 6px 30px 6px 12px;
}
.tw-popup {
  z-index: 6100;
}
.refer-search-icon {
  font-family: "iconfont" !important;
}
.refer-search-icon::before {
  content: "\e69b";
  font-size: 16px;
  font-size: 1.6rem;
}
.bootstrap-typeahead .input-group {
  display: block;
}
.bootstrap-typeahead .input-group .form-control {
  float: none;
  border-radius: 4px;
}
.bootstrap-typeahead .input-group span.input-group-addon {
  position: absolute;
  top: 2px;
  right: 13px;
  border: none;
  background-color: transparent;
}
.dropdown-menu {
  width: 100%;
}
.dropdown-menu li a {
  font-size: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #666666;
}
.dropdown-menu li a:hover {
  background-color: #00B39E;
  color: #FFF;
}
.dropdown-menu .active > a {
  background-color: #00B39E;
}
.dropdown-menu .active > a:hover {
  background-color: #009886;
}
.dropdown-menu-list {
  padding: 0;
  min-width: 90px;
  border-radius: 0;
}
.pricerount-select {
  width: 100%;
  height: 30px;
  padding-left: 7px;
  font-size: 12px;
  font-size: 1.2rem;
  color: #666666;
  box-sizing: border-box;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #fff!important;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: default!important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.currency-bishu {
  color: red;
  position: relative;
  top: 2px;
  left: -1px;
}
