
@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1501654713160'); /* IE9*/
  src: url('./iconfont.eot?t=1501654713160#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1501654713160') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf?t=1501654713160') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg?t=1501654713160#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-voice:before { content: "\e613"; }

.icon-voice1:before { content: "\e63d"; }

.icon-chevron-left:before { content: "\e68a"; }

.icon-tr-plus:before { content: "\e68b"; }

.icon-tr-delete:before { content: "\e68c"; }

.icon-tree-open:before { content: "\e68d"; }

.icon-tree-close:before { content: "\e68f"; }

.icon-screen-full:before { content: "\e690"; }

.icon-search:before { content: "\e691"; }

.icon-chevron-down:before { content: "\e692"; }

.icon-user:before { content: "\e693"; }

.icon-remove:before { content: "\e695"; }

.icon-th-left:before { content: "\e696"; }

.icon-th-right:before { content: "\e697"; }

.icon-logo:before { content: "\e699"; }

.icon-robot:before { content: "\e69a"; }

.icon-refer:before { content: "\e69b"; }

.icon-copy:before { content: "\e69f"; }

.icon-delete:before { content: "\e6a0"; }

.icon-remove-sign:before { content: "\e6a1"; }

.icon-nav-report:before { content: "\e6a6"; }

.icon-nav-financial:before { content: "\e6a7"; }

.icon-nav-mywork:before { content: "\e6a8"; }

.icon-nav-basedoc:before { content: "\e6a9"; }

.icon-nav-checkoutindex:before { content: "\e6aa"; }

.icon-nav-accbook:before { content: "\e6ab"; }

.icon-nav-basesetting:before { content: "\e6ac"; }

.icon-nav-platform:before { content: "\e6ad"; }

.icon-shujiegouxiangmu:before { content: "\e6ae"; }

.icon-error:before { content: "\e6af"; }

.icon-plus:before { content: "\e6b0"; }

.icon-edit:before { content: "\e6b2"; }

.icon-ref-more:before { content: "\e6b3"; }

.icon-warn-sign:before { content: "\e6b4"; }

.icon-info-sign:before { content: "\e6b5"; }

.icon-succ-sign:before { content: "\e6b6"; }

.icon-error-sign:before { content: "\e6b7"; }

.icon-play:before { content: "\e6b8"; }

.icon-stop:before { content: "\e6b9"; }

.icon-xuanzhong:before { content: "\e6ba"; }

.icon-shanchu:before { content: "\e6bb"; }

.icon-tianjia:before { content: "\e6bc"; }

.icon-chevron-right:before { content: "\e6bd"; }

.icon-keyboard-rect:before { content: "\e6be"; }

.icon-yingxiangfuwu:before { content: "\e6bf"; }

.icon-hesuanfuwu:before { content: "\e6c0"; }

.icon-baozhangfuwu:before { content: "\e6c1"; }

.icon-financial-color:before { content: "\e6c2"; }

.icon-accbook-color:before { content: "\e6c3"; }

.icon-report-color:before { content: "\e6c4"; }

.icon-checkout-color:before { content: "\e6c5"; }

.icon-basesetting-color:before { content: "\e6c9"; }

.icon-basedoc-color:before { content: "\e6ca"; }

.icon-platform-color:before { content: "\e6cb"; }

.icon-luyin:before { content: "\e6c6"; }

.icon-yuyin:before { content: "\e6c7"; }

.icon-robot-photo:before { content: "\e6c8"; }

.icon-keyboard:before { content: "\e6cc"; }

.icon-nav-ireport:before { content: "\e6cd"; }

.icon-view:before { content: "\e6ce"; }

.icon-export:before { content: "\e6cf"; }

.icon-nav-assets:before { content: "\e6d0"; }

.icon-qushuluoji:before { content: "\e6d1"; }

.icon-homepage:before { content: "\e6d2"; }

